<ng-container *ngIf="classBooking; else second">
  <mat-expansion-panel>
    <mat-expansion-panel-header [class.warning]="waiting">
      {{classBooking.className}}
    </mat-expansion-panel-header>
    <div *ngIf="waiting">
      <p class="warning">You are currently on the waiting list for this class</p>
    </div>
    <p>
      <span class="icon">
        <i class="far fa-calendar-alt"></i>
      </span>
      {{classBooking.dateTime}}
    </p>
    <!-- TODO: Add to calendar -->
    <!--<button mat-button class="addeventatc">Add to Calendar-->
    <!--<span class="start">{{startTime}}</span>-->
    <!--<span class="end">{{endTime}}</span>-->
    <!--<span class="timezone">Europe/Paris</span>-->
    <!--<span class="title">{{classBooking.className}}</span>-->
    <!--&lt;!&ndash;<span class="description">Description of the event</span>&ndash;&gt;-->
    <!--<span class="location">{{classBooking.roomName}}</span>-->
    <!--</button>-->
    <!--<div title="Add to Calendar" class="addeventatc">-->
    <!--Add to Calendar-->

    <!--</div>-->
    <p>
      <span class="icon">
        <i class="fas fa-male"></i>
      </span>
      {{classBooking.trainerName}}
    </p>
    <p>
      <span class="icon">
        <i class="fas fa-map-marker-alt"></i>
      </span>
      {{classBooking.roomName}}
    </p>
    <button mat-raised-button color="primary" (click)="sendData(classBooking.id, waiting)"><i class="fas fa-trash-alt"></i> Delete booking</button>

    <!-- TODO: Add to calendar functionality -->


  </mat-expansion-panel>
</ng-container>
<ng-template #second>
  <p class="warning">You currently don't have any bookings.</p>
</ng-template>

