.new-user-form>.mat-form-field {margin-top: 16px; width: 60%; margin: auto;}
.button-container {width: 100%; display: inline-block;}

.mat-tab-group.inner-tabs {margin-top: 16px;}

.top-three {margin-bottom: 16px;}

.mat-progress-spinner {margin: auto;}
